<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<html lang="en-EN">

<head>
	<title>Slimgallery</title>
	<meta name="description" content="Slimgallery picture gallery">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<style type="text/css"><!--

* {
 font-family: Arial,Helvetica,sans-serif;
 color:#888;
}

.title {
 text-align:center;
 margin-top:30px;
}

table {
 margin-top:30px;
 border-collapse:collapse;
 empty-cells:show;
 text-align:center;
 /*font-size:small;*/
 font-size:x-small;
}

td {
 border-style:solid;
 border-width:0px;
 padding-left:20px;
 padding-right:20px;
 padding-top:20px;
 padding-bottom:0"px;
}

img.ico {
 width:32px;
 height:32px;
}

//--></style>

</head>

<body>

	{% block title %}{% endblock %}

	{% block content %}{% endblock %}

</body>	

</html>
