{% extends "base.html" %}

{% block title %}<h4 class="title">Slimgallery picture gallery</h4>{% endblock %}

{% load staticfiles %}

{% block content %}

	{% if folder and folder.isAlbum %}

		{% if thumblist %}

			<table align="center">

				<tr>

					{% for pic in piclist %}

						<td><a href="{% static "user/"|add:folder.folderpath|add:"/"|add:pic %}">
							<img src="{% static "thumbs/"|add:folder.folderpath|add:"/thumb_"|add:pic %}" alt="{{ pic }}"/></a>
							<p>{{ pic }}</p>
						</td>
						
						{% if forloop.counter|divisibleby:folder.picsPerRow and not forloop.last %}</tr>
						<tr>
						{% endif %}

					{% endfor %}

				</tr>


			</table>

			<p align="center"><a href="{% url 'gallery:index' %}">Gallery index</a></p>

		{% endif %}

	{% else %}
	
		{% if folder_list %}

			<table align="center" cellpadding="20">

				<tr>

					{% for folder in folder_list %}

						<td><a href="{% url 'gallery:index' folder.id %}">
							<img src="{% static "gallery/folder-images.png" %}" alt="folder-images.png"/></a>
							<p>{{ folder.caption }}</p>
						</td>

					{% endfor %}

				</tr>


			</table>

		{% endif %}
		
	{% endif %}

{% endblock %}
