<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<html lang="en-EN">

<head>
	<title>Slimgallery</title>
	<meta name="description" content="Slimgallery picture gallery">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<style type="text/css"><!--

* {
 font-family:Sans-serif;
}

.title {
 text-align:center;
 margin-top:50px;
}

table {
 margin-top:100px;
 border-collapse:collapse;
 empty-cells:show;
 text-align:center;
 font-size:small;
 /*font-size:x-small;*/
}

td {
 border-style:solid;
 border-width:1px;
}

//--></style>

</head>

<body>
{% load staticfiles %}

	<h4 class="title">{{ title }}</h4>

	{% if folder_list %}

		<table align="center" cellpadding="20">

			<tr>

				{% for folder in folder_list %}

					<td><a href="{% url 'gallery:index' folder.id %}">
						<img src="{% static "gallery/folder-images.png" %}" alt="folder-images.png"/></a>
						<p>{{ folder.caption }}</p>
					</td>

				{% endfor %}

			</tr>


		</table>

	{% endif %}

</body>	

</html>
